<div class= "container">
  <div class= "row">
    <div class= "col about-title">
     <h2>About</h2>
     <p>
       <h4>
        「麺好き!」は麺好きのためのレビューサイトです。<br>
        麺が好きな方はもちろん、麺が食べたい気分の方、今日のランチ先を見つけたい方など<br>
        気軽に麺の店を見つけてシェアしましょう!
       </h4>
     </p>
    </div>
  </div>
</div>