// Place all the styles related to the admin/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between:
  flex-wrap: wrap;
  color: red;
}

.card_block {

  color: blue;
  width: 500 px;
}

.check_box {
  color: green;
  width: 50 px;
}

.card {
  color: purple;
  width: 450 px;
}

.image {
  width: 500 px;
  color: red;
}

.contents {
  width: 500 px;
  color: green;
  display: flex;
}

.review_infomation {
  color: blue;
  width: 250 px;
}

.score {
  color: yellow;
  width: 250 px;
}