<!--render時の記述<%#= render 'profile' %>-->
<div class= "container">
  <div class="row">
    <div class= "col-4">
      <div class= "profile_box ml-5">
        <%= image_tag current_member.get_profile_image(100,100), class:"mt-3 rounded-circle" %><br>
        <%= current_member.name %><br>
        <%= current_member.introduction %><br>
        <%= link_to member_path(current_member.id) do %>
          <i class="fas fa-cog"></i>
      </div>    
        <% end %>
    </div>
    <div class= "col-6 serch_box">
      
    </div>
  </div>
</div>