<div class= "container mt-5">
  <div class= "row">
    <h2>投稿一覧</h2>
    <div class= "col-4">
      <%= render 'profile' %> <!--プロフィールテンプレ-->
    </div>
    <div class= "col-6">
      <%= render 'index', reviews: @reviews %> <!--レビュー一覧テンプレ-->
    </div>
  </div>
  <div class= "row">
    <div class= "col">
      <%= paginate @reviews %>
    </div>
  </div>
</div>
