<div class= "container">
  <div class= "row">
    <div class= "col-8 mx-auto">
      <div id= "category_form">
       <%= render 'admin/categories/form', category: @category %>
      </div>
      <div id="categories_index">
       <%= render 'admin/categories/index', categories: @categories %>
      </div>
    </div>
  </div>
</div>