
.main_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.card_block {
  margin-bottom: 50px;
  display: flex;
  width: 33%;
}

#check_box {
  width: 20%;
  text-align: center;
}

#box {
  height: 24px;
  line-height: 24px;
}

.card {
  width: 80%;
}

.image {
  width: 100%;
}

.contents {
  width: 100%;
  display: flex;
}

.review_infomation {
  width: 100%;
}

.item{
 list-style: none;
}

.item:last-child{
 color: red;
}

.info_list{
 padding-left: 0;
}


.item_title {
  font-weight: bold;
}

.delete_button {
  width: 10%;
}

.search_box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.delete_button {
  position: fixed;
  top: 80px;
  right: 50px;
}

.delete_all_button {
  text-decoration: none;
  color: red;
}
.delete_all {
  margin-top: 20p;
}

.category_select {
  display: flex;
}

.select_item {
  margin-left: 10px;
}
.field_with_errors {
  display: contents;
}

