<% if som.errors.any? %>
  <%= som.errors.count %>件のエラーが発生しました
  <ul>
    <% som.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%# render 'validates', something:任意のインスタンス変数　%>